# eclipse
**/bin
**/*.launch
**/.settings
**/.metadata
**/.classpath
**/.project
**/.factorypath

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
**/build
**/.gradle

# other
**/eclipse
**/run
.direnv
